.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/* Example CSS styles for the Header component */

.header {
  background-color: #212529; /* Set your desired background color */
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */

}

.navbar {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.logo {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  font-size: 1.5rem;
  color: #fcbc1d;
  cursor: pointer;
}

.navbar-collapse {
  display: flex;
  flex-grow: 1;
  justify-content: left;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 20px;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #ffd700; /* Set your desired hover color */
}

/* Style for the active link */
.active {
  border-bottom: 2px solid #ffd700; /* Set your desired active link indicator color */
}


/* Style for the active link */
.active {
  border-bottom: 2px solid #ffd700; /* Set your desired active link indicator color */
}


/* Home.css */
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Place the video behind other content */
}

.home{
  position: relative;
}

.light-background {
  color: black; /* Set the font color for light backgrounds */
}

.dark-background {
  color: white; /* Set the font color for dark backgrounds */
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 24px 24px 24px;
  background-color: #fff;
}

.home-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.avatar {
  width: 300px; /* Adjust the size as needed */
  height: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* About.css */
.avatar-big {
  width: 500px;
  height: 500px;
  border-radius: 50%;  /* This creates a circular avatar */
  margin-bottom: 20px;
}

.learn-about {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.learn-about h4 {
  margin-bottom: 10px;
}

.learn-about button {
  margin: 10px;
}

/* Projects.css */
.project-card {
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  outline: none;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

/* Timeline.css */
.timeline-entry {
  margin-bottom: 20px;
}

.timeline-logo {
  width: 100px;
  height: 100px;
}

.timeline-details {
  padding: 20px;
}

/* Alternate background color for odd entries */
.timeline-entry.odd {
  background-color: #f7f7f7;
}

/* Certifications.css */
.certification-card {
  display: flex;
  flex-direction: column;
}

.certification-card img {
  width: 100%;
  object-fit: cover;
}

/* Contact form styling */
form {
  margin-top: 20px;
}

/* Button styling */
button {
  background-color: #2196f3;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: '5px';
  font-size: 16px;
}

button:hover {
  background-color: #1565c0;
}

/* Text field and text area styling */
input,
textarea {
  margin-bottom: 10px;
  width: 100%;
}

/* Adjust styling as needed */



/* Add more styles as needed */
.about-section {
  color: black;
  text-align: center;
}

.projects-section {
  color: black;
  text-align: center;
}

.timeline-section {
  color: black;
  text-align: center;
  /* background-color: #d1d1d1; Set background color for the Timeline section */
}

.certifications-section {
  color: black;
  text-align: center;
  /* background-color: #c2c2c2; Set background color for the Certifications section */
}

.contact-section {
  color: black;
  text-align: center;
  /* background-color: #b3b3b3; Set background color for the Contact section */
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  background-color: white;
  height: 3px;
  width: 25px;
  margin: 5px 0;
}


.projectContent {
  margin-top: 16px;
  text-align: center;
}


.skills-section {
  text-align: center;
  color: black;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.skill-item {
  padding: 20px;
  border-radius: 8px;
  background: linear-gradient(135deg, #3498db, #2980b9); /* Update with your desired gradient colors */
  color: #fff;
  width: 10rem;
  height: 10rem;
}

.skill-icon {
  /* Style your skill icon here */
  font-size: 36px;
  margin-bottom: 10px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust as needed */
    left: 0;
    background-color: #2196f3;
    width: 100%;
  }

  .nav-links.open {
    display: flex;
  }

  .menu-toggle {
    display: flex;
    left: 0;
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px;
  }

  .avatar-big {
    width: 300px; /* Adjust the size as needed */
    height: 300px;
  }
  .learn-about {
    display: grid;
  }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
  
    .skills-grid {
      grid-template-columns: repeat(2, 1fr) !important;
      gap: 20px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  
    .skills-grid {
      grid-template-columns: repeat(3, 1fr) !important;
      gap: 20px;
    }
}

/* Portrait and Landscape for phone*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px; /* Adjust as needed */
      left: 0;
      background-color: #2196f3;
      width: 100%;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .menu-toggle {
      display: flex;
      left: 0;
      position: absolute;
      padding-left: 5px;
      padding-right: 10px !important;
    }

    .logo {
      padding-left: 10px !important;
    }

    .skills-grid {
      grid-template-columns: repeat(1, 1fr) !important;
      gap: 20px;
    }

    .avatar-big {
      width: 300px; /* Adjust the size as needed */
      height: 300px;
    }

    .learn-about {
      display: grid;
    }
}


